.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grey2;
    gap: 15px;
}

/* Hero header */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: $main-grey;
    text-align: center;
    & p {
        font-size: 18px;
    }
}

/* partie fonctionnement du site */

.fonctionnement {
    & h2 {
        margin-left: 10%;
    }
    &__card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 70px;
    }
    &__card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $main-grey;
        width: 80%;
        max-width: 500px;
        border-radius: 20px;
        gap: 20px;
        box-shadow: $box-shadow;
        &--circle{
            position: absolute;
            left: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $purple;
            color: white;
            font-weight: 500;
        }
        & i {
            color: $almost-black;
            font-size: 20px;
        }
        & .fa-store {
            color: $purple;
        }
    }
}

/* partie restaurants */

.restaurants {
    display: flex;
    flex-direction: column;
    background: $main-grey;
    & h2 {
        margin-left: 10%;
        margin-top: 50px;
    }
    &__card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 70px;
        & a{
            text-decoration: none;
            color: inherit;
        }
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        height: 250px;
        width: 90%;
        border-radius: 20px;
        overflow: hidden;
        max-width: 500px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 70%;
        }
        & h3 {
            margin: 0;
            margin-top: 15px;
            margin-left: 30px;
        }
        & p {
            margin: 0;
            margin-left: 30px;
        }

    }
}